@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.otf);
}

@font-face {
    font-family: edosz;
    src: url(fonts/edosz.ttf);
}

div.projeto {
    font-family: edosz;
    font-size: 50px;
}

main {
    background-color: whitesmoke;
    width: 500px;
    margin: auto;
    padding: 30px;
    padding-bottom: 1px;
    box-shadow: 3px 3px 5px black;
    font-size: 14px;
}

body {
    background-color: rgb(227, 208, 245);
    font-family: Poppins;
}

h1 {
    margin: auto;
    text-align: center;
    font-size: 40px;
}

h2 {
    margin: auto;
    margin-top: -12px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin: auto;
}

h4 {
    margin-top: -1px;
    margin-bottom: -1px;
    font-weight: 900;
}

.titulo_projeto {
    margin-top: -5px;
    margin-bottom: -5px;
}

#img01{
    display: inline-block;
    width: 230px;
    position: relative;
}

#img02{
    display: inline-block;
    position: relative;
}

#img01 img, #img02 img{
    border: 1px solid black;
    border-radius: 10px;
}

#img01 p {
    position: absolute;
    top: 91px;
    left: 50px;
    font-size: 20px;
    color: white;
    font-weight: 900;
    text-shadow: 
               -1px -1px 1px #000000, 
               -1px 1px 1px #000000,                    
                1px -1px 5px #000000,                  
                1px 0px 5px #000000;
}

#img02 p {
    position: absolute;
    top: 91px;
    left: 55px;
    font-size: 20px;
    color: white;
    font-weight: 900;
    text-shadow: 
               -1px -1px 1px #000000, 
               -1px 1px 1px #000000,                    
                1px -1px 5px #000000,                  
                1px 0px 5px #000000;
}

.container_img {
    height: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -100%);
}

.container1 {
    text-align: center;
    
}

.container1 p {
    font-weight: 900;
    font-size: 18px;
    margin-top: 1px;
    margin-bottom: 5px;
}

.container_img_pag {
    height: 0px;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-100%, -100%);
}

#home-btn {
    margin-bottom: -15px;
}

.projeto p {
    font-size: 14px;
}

.logo-projeto {
    display: block;
    margin: 0px auto;
}

footer {
    text-align: right;
}