@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.otf);
}

/* MAIN */

main {
    background-color: whitesmoke;
    width: 40%;
    margin: auto;
    padding: 30px;
    padding-bottom: 1px;
    box-shadow: 3px 3px 5px black;
    font-size: 13px;
    text-align: center;
}

main p {
    text-align: left;
}

main p.descricao {
    text-indent: 20px;
    text-align: justify;
}

/* BODY E HEADERS */

body {
    background-color: rgb(227, 208, 245);
    font-family: Poppins;
}

h1 h2 h3 {
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    margin-top: -12px;
}

h3 {
    font-size: 25px;
    margin-top: -5px;
}

h4 {
    margin-top: -1px;
    margin-bottom: -1px;
    text-align: center;
    font-weight: bolder;
}

#subtitulo {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(216, 186, 243);
    border-radius: 10px;
    width: 300px;
}


.header img {
    margin-top: -15px;
    width: 100%;
}

.titulo_projeto {
    margin-top: -5px;
    margin-bottom: -5px;
}

#img01{
    display: inline-block;
    width: 240px;
    position: relative;
    left: -5%;
}

#img02{
    display: inline-block;
    position: relative;
}

#img01 img, #img02 img{
    border: 1px solid black;
    border-radius: 10px;
}

#img01 p {
    position: absolute;
    top: 91px;
    left: 60px;
    font-size: 20px;
    color: white;
    font-weight: 900;
    text-shadow: 
               -1px -1px 1px #000000, 
               -1px 1px 1px #000000,                    
                1px -1px 5px #000000,                  
                1px 0px 5px #000000;
}

#img02 p {
    position: absolute;
    top: 91px;
    left: 50px;
    font-size: 20px;
    color: white;
    font-weight: 900;
    text-shadow: 
               -1px -1px 1px #000000, 
               -1px 1px 1px #000000,                    
                1px -1px 5px #000000,                  
                1px 0px 5px #000000;
}

.container1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 2px;
}

.container1 p {
    font-weight: 900;
    font-size: 18px;
    margin-top: 1px;
    margin-bottom: 5px;
}

.container1 img {
    margin-right: 5px;
}

.box:hover {
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.295), -3px -3px 5px 1px rgba(0, 0, 0, 0.295);
}

.projeto p {
    font-size: 14px;
}

.logo-projeto {
    display: block;
    margin: 0px auto;
}

div.release p {
    font-size: 12px;
    margin-top: -5px;
    text-align: right;
}

.botoes_do_portfolio {
    text-align: center;
}

/* OUTRAS CONFIGURAÇÕES */

summary {
    cursor: pointer;
}